@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    height: 100vh;
    background-color: cadetblue;

}

header {

    display: none;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: #c9e9e488;
    animation-name: headerAppear;
    animation-duration: 1s;
    z-index: 1;
    /*font-weight: bold;*/
    font-family: 'Readex Pro', sans-serif;

}

.sticky{

position: fixed;
top:0;
width: 100%;

}


#home-icon:hover {

    cursor: pointer;

}

#menu {

    display: flex;

}


#menu ul {

    display: flex;
    align-items: center;
    list-style: none;

}

#menu ul li {

    margin: 40px;

}

#menu ul li:hover {

    cursor: pointer;

}

#menu ul li:nth-child(1) {

    color: #00ffbb;

}

#contact-button {

    border-radius: 50px;
    background-color: beige;
    border: none;
    padding: 25px;
    font-family: 'Readex Pro', sans-serif;
    transition: 0.5s;

}

#contact-button:hover {

    cursor: pointer;
    background-color: rgb(228, 228, 202);

}

#home-icon {

    transition: 0.3s;

}

#home-icon:hover {

    transform: scale(1.1, 1.1);

}


.main-animation-container {

    display: flex;
    height: 100%;

}

.main-content {

    position: relative;
    display: none;
    height: 100%;

}

.left-side {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: beige;

}


.main-info {

    height: 50%;
    width: 40%;
    margin-left: 10%;
    /*background-color: beige;*/
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    flex-direction: column;


}


.main-info div:nth-child(1) {}

.main-info div:nth-child(2) {}

.name-container h1 {

    animation-name: appearOpacity;
    animation-duration: 3s;

}

.main-info div:nth-child(3) {}

#rol-description {

    margin-top: -15%;
    animation-name: mainInfoAppear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;

}

.main-info div:nth-child(4) {}

#short-description {

    margin-top: -20%;
    animation-name: mainInfoAppear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;

}



.overflow-hidden {

    overflow: hidden;

}

.position-relative {

    position: relative;

}

#greeting {}

h1 {

    font-size: 75px;
    font-family: 'Paytone One', sans-serif;

}

.name-container h1:nth-child(1) {

    font-size: 78px;
    margin-bottom: -10%;

}


p {

    font-size: 16px;

}

h3 {

    color: #00ffbb;

}


#hireMeButton-container {

    display: flex;
    justify-content: center;
    margin-top: 7%;

}

#hireMe-button {

    border-radius: 50px;
    background-color: #c9e9e4;
    border: none;
    padding: 5%;
    width: 40%;
    font-family: 'Readex Pro', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    margin-top: -15%;
    animation-name: mainInfoAppear;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

#hireMe-button:hover {

    background-color: #9bc4bd;

}

.right-side {

    width: 50%;
    height: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-overflow {

    height: 60%;
    overflow: hidden;

}

#emoji {

    height: 100%;
    width: 100%;
    margin-left: 100%;
    animation-delay: 1s;
    animation-name: imgApear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /*animation-timing-function: linear;*/

}

.about-me{

position: relative;
width: 100%;
height: 100%;
z-index: -1;
background-color: rgb(209, 209, 181);
    
}

.contact-me{

position: none;
width: 100%;
height: 100%;
background-color: beige;

}

.column-apear {

    width: 33.33%;
    height: 0;
    background-color: beige;
    animation-name: apearColumns;

}

.column-apear:nth-child(1) {


    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /*border-right: 1px solid black;*/
}

.column-apear:nth-child(2) {

    /*animation-name: apear;*/
    animation-duration: 0.8s;
    animation-delay: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /*border-right: 1px solid black;*/
}

.column-apear:nth-child(3) {

    /*animation-name: apear;*/
    animation-duration: 0.8s;
    animation-delay: 1.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}


@keyframes apearColumns {

    from {
        height: 0;
    }

    to {
        height: 100%;
    }

}

@keyframes imgApear {

    from {

        display: none;
        margin-left: 100%;
        filter: opacity(0%);

    }

    to {

        display: inline-block;
        margin-left: -20%;
        filter: opacity(100%);

    }

}

@keyframes headerAppear {

    from {
        filter: opacity(0%);
    }

    to {
        filter: opacity(100%);
    }

}

@keyframes mainInfoAppear {

    from {
        margin-top: -15%;
    }

    to {
        margin-top: 0%;
    }

}

@keyframes appearOpacity {

    from {
        filter: opacity(0);
    }

    to {
        filter: opacity(1);
    }

}